.col-xs-12
  h2 Mon fournisseur&ensp;
    = category
    | &ensp;
    img.icon(src="/assets/img/icon_konnectors/#{slug}.svg")

.col-xs-12.frame
  .row
    .col-xs-8.paymentterms
    .col-xs-4.consumption

  .row
    .col-xs-12.budget


  .row
    .col-xs-8.files

    .col-xs-4.relation
      h3
        i.fa.fa-handshake-o
        | Ma relation avec&ensp;
        = name


      .contract
        if contract
          ul
            li
              span.label Contrat&nbsp;
              span.value= contract.name
                | &ensp;
                = contract.contractSubcategory1
            li
              span.label Puissance :&ensp;
              span.value= contract.power


      .identifiers
        h4 Mes identifiants :
        ul
          if login
            li
              span.label login web :&ensp;
              span.value= login
          li
            span.label Point De Livraison :&ensp;
            span.value= contract.pdl
      .contact
        h4 Contacter EDF
        .phoneTroubleshooting
          if contract
            img.img_tell(src="/assets/img/tell.svg")
            span dépannage :&nbsp
            span= contract.troubleshootingPhone
        .phoneContact
          if (client && client.commercialContact)
            img.img_tell(src="/assets/img/tell.svg")
            span service client :&nbsp
            span= client.commercialContact.phone
