.col-xs-12
  h2 Mon fournisseur&ensp;
    = category
    | &ensp;
    img.icon(src="/assets/img/icon_konnectors/#{slug}.svg")

.col-xs-12.frame
  .row
    .col-lg-4.paymentterms
    .col-lg-4.col-sm-6.foyer
    .col-lg-4.col-sm-6.home

  .row
    .col-xs-12.budget


  .row
    .col-lg-8.files

    .col-lg-4.relation
      h3
        i.fa.fa-handshake-o
        | Ma relation avec&ensp;
        = name

        //- a(href=appURI, target='_blank') app Maif
        //-   i.fa.fa-external-link


      .contract
        if contract
          ul
            li
              span.label Contrat&nbsp
              span.value= contract.name

            li
              if contract.startDate
              span.label Début de contrat&nbsp;
              span.value= contract.startDate.slice(0, 10)


      .identifiers
        h4 Mes identifiants :
        ul
          if login
            li
              span.label login web :&ensp;
              span.value= login
          if contract
            li
              span.label Numéro de sociétaire :&ensp;
              span.value= contract.societaire

      .contact
        h4 Contacter la Maif
        div
          img(src="/assets/img/tell.svg")
          span &nbsp;09 72 72 15 15
